/*
Theme Name: Life Lessons Speaker
Theme URI: https://rfdprint.com
Author: RFDPrint (Michael W.)
Author https://rfdprint.github.io/profile/
Description: This is the Life Lessons Speaker Official Theme.
Version: 1.0
*
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}
/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}
/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}
/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}
/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}
/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}
/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}
/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/*#997272*/
/*#fafafa;  #d1d1d1*/
body {
  color: #000;
  background-color: #ececec;
  font-family: 'Georgia', serif;
  overflow-x: hidden;
  position: relative;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #800000;
}
a:hover {
  text-decoration: none;
}
p, ul, ol {
  margin: 0 0 1.65em 0;
}
p, li {
  line-height: 1.65;
}
.min-list {
  text-decoration: none;
}
.generic-content p, .generic-content li {
    font-size: 1rem;
  }
.generic-content blockquote, .generic-content blockquote p {
    font-size: 1.5rem;
    font-style: italic;
  }
.generic-content h1, .generic-content h2, .generic-content h3, .generic-content h4, .generic-content h5, .generic-content h6 {
    font-family: 'Georgia', serif;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;
  }
.generic-content h1 {font-size: 3.6rem}
.generic-content h2 {font-size: 3.1rem}
.generic-content h3 {font-size: 2.6rem}
.generic-content h4 {font-size: 2.1rem}
.generic-content h5 {font-size: 1.6rem}
.generic-content h6 {font-size: 1.15rem}
@media (min-width: 530px) {
    .generic-content h1 {font-size: 6.25rem}
    .generic-content h2 {font-size: 5rem}
    .generic-content h3 {font-size: 3.125rem}
    .generic-content h4 {font-size: 2.4rem}
    .generic-content h5 {font-size: 1.9rem}
    .generic-content h6 {font-size: 1.15rem}
  }
.section-break {
  border: none;
  border-top: 1px solid #DDD;
  margin: 2.5rem 0;
}
.min-list {
  padding: 0;
  margin: 0;
}
.min-list li {
  list-style: none;
}
.p-top-small {padding-top: 1rem}
.p-top-large {padding-top: 1.6rem}
.p-bottom-large {padding-bottom: 1.6rem}
@media (min-width: 530px) {
  .p-top-large {padding-top: 3.5rem}
  .p-bottom-large {padding-bottom: 3.5rem}
  }
.no-margin {margin: 0}
.nu {text-decoration: none}
.nu:hover {text-decoration: underline}
.t-left {text-align: left}
.t-right {text-align: right}
.t-center {text-align: center}
.t-small {font-size: .85rem}
.float-left {float: left}
.float-right {float: right}
.push-right {margin-right: 20px}
.wrapper:before,
.wrapper:after,
.group:before,
.group:after {
  content: " ";
  display: table;
}
.wrapper:after,
.group:after {
  clear: both;
}
.hide {
  display: none;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.wrapper {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 16px;

}
@media (min-width: 960px) {
		.wrapper--gradiant-shadow {
			box-shadow: inset -7px -10px 84px -13px #a3a3a3, 10px 10px 12px -1px #5a5b5d;
		}
  }
.wrapper--shadow {
		box-shadow: 10px 10px 12px -1px #5a5b5d;
	}
.wrapper--narrow {
		max-width: 960px;
	}
.wrapper--padding-large {
		padding: 25px;
	}
.wrapper--medium {
		max-width: 976px;
	}
.wrapper--narrow {
		max-width: 470px;
	}
.wrapper--no-padding-until-medium {
		padding-left: 0;
		padding-right: 0;
	}
@media (min-width: 960px) {
.wrapper--no-padding-until-medium {
			padding-left: 18px;
			padding-right: 18px
	}
  }
.wrapper--no-padding-until-large {
		padding-left: 0;
		padding-right: 0;
	}
@media (min-width: 1010px) {
.wrapper--no-padding-until-large {
			padding-left: 18px;
			padding-right: 18px
	}
  }
.wrapper .wrapper {
		padding-left: 0;
		padding-right: 0;
	}
.wrapper--b-margin {
		margin-bottom: 1rem;
	}
@media (min-width: 530px) {
.wrapper--b-margin {
			margin-bottom: 3.875rem
	}
  }
.wrapper--background-extra-light-grey {
		background-color: #ececec;
	}
.headline {
	font-family: 'Georgia', serif;
	font-size: 2.3rem;
	font-weight: 100;
	margin: 0 0 1rem 0;
}
@media (min-width: 530px) {
.headline {
		font-size: 2rem
}
  }
.headline--maroon {
		color: #800000;
	}
.headline--padding-t {
		padding-top: 25px;
	}
.headline--padding {
		padding-top: 25px;
		padding-bottom: 15px;
	}
.headline--centered {
		text-align: center;
	}
.headline--small {
		font-size: 1.2rem;
	}
@media (min-width: 530px) {
.headline--small {
			font-size: 1.875rem
	}
  }
.headline--small-general-content {
		font-size: 1.2rem;
	}
@media (min-width: 530px) {
.headline--small-general-content {
			font-size: 1.575rem
	}
  }
.headline--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
.headline--light {
		font-weight: 100;
	}
.headline strong {
		font-weight: 400;
	}
.headline--b-margin-small {
		margin-bottom: .5em;
	}
.headline--b-margin-large {
		margin-bottom: 1.6em;
	}
.headline--no-t-margin {
		margin-top: 0;
	}
.headline--margin-t {
		margin-top: 35px;
	}
@media (min-width: 530px) {
.headline--margin-t {
			margin-top: 0
	}
  }
.site-header {
	padding: 10px 0;
	position: absolute;
	width: 100%;
	z-index: 3;
	transition: background-color .3s ease-out;
}
.site-header--is-expanded {
		background-color: rgba(163,163,163, .75);
	}
@media (min-width: 960px) {
.site-header {
		/*position: fixed;*/
		background-color: rgba(128,0,0, .3)
}

		.site-header--dark {
			background-color: rgba(128,0,0, .85);
		}
  }
@media (min-width: 960px) {
.site-header__btn-container {
			float: right

	}
  }
.site-header__logo {
		position: absolute;
		top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%) scale(.8);
		        transform: translateX(-50%) scale(.8);
		transition: -webkit-transform .3s ease-out;
		transition: transform .3s ease-out;
		transition: transform .3s ease-out, -webkit-transform .3s ease-out;
		-webkit-transform-origin: 50% 0;
		        transform-origin: 50% 0;
		background-color: rgba(255,255,255, .4);
		padding: 10px 10px;
	}
@media (min-width: 530px) {
.site-header__logo {
			background-color: #FFF
	}
  }
@media (min-width: 960px) {
.site-header__logo {
			left: auto;
			-webkit-transform: translateX(0);
			        transform: translateX(0)
	}

			.site-header--dark .site-header__logo {
				-webkit-transform: scale(.76);
				        transform: scale(.76);
			}
  }
.site-header__logo__graphic {
		text-indent: -9999px !important;

	}
.site-header__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		z-index: 10;
		top: 10px;
		right: 10px;
	}
.site-header__menu-icon::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #800000;
			-webkit-transform-origin: 0 0;
			        transform-origin: 0 0;
			transition: -webkit-transform .3s ease-out;
			transition: transform .3s ease-out;
			transition: transform .3s ease-out, -webkit-transform .3s ease-out;
		}
.site-header__menu-icon__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #800000;
			transition: all .3s ease-out;
			-webkit-transform-origin: 0 50%;
			        transform-origin: 0 50%;
		}
.site-header__menu-icon::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #800000;
			-webkit-transform-origin: 0 100%;
			        transform-origin: 0 100%;
			transition: -webkit-transform .3s ease-out;
			transition: transform .3s ease-out;
			transition: transform .3s ease-out, -webkit-transform .3s ease-out;
		}
@media (min-width: 960px) {
.site-header__menu-icon {
			display: none
	}
  }
.site-header__menu-icon--close-x::before {
			-webkit-transform: rotate(45deg) scaleX(1.25);
			        transform: rotate(45deg) scaleX(1.25);
		}
.site-header__menu-icon--close-x::after {
			-webkit-transform: rotate(-45deg) scaleX(1.25) translateY(1px);
			        transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
.site-header__menu-icon--close-x .site-header__menu-icon__middle {
			opacity: 0;
			-webkit-transform: scaleX(0);
			        transform: scaleX(0);
		}
.site-header__menu-content {
		opacity: 0;
		-webkit-transform: scale(1.2);
		        transform: scale(1.2);
		transition: all .3s ease-out;
		position: relative;
		z-index: -10;
		padding-top: 105px;
		text-align: center;
	}
@media (min-width: 960px) {
.site-header__menu-content {
			opacity: 1;
			z-index: 1;
			padding-top: 0;
			-webkit-transform: scale(1);
			        transform: scale(1)
	}
  }
.site-header__menu-content--is-visible {
			opacity: 1;
			z-index: 1;
			-webkit-transform: scale(1);
			        transform: scale(1);
		}
.header-waypoint-trigger {
	width: 10px;
	height: 10px;
	position: absolute;
	top: 90px;
	z-index: 10;
}
/*padding-top: 10px;*/
@media (min-width: 960px) {
.primary-nav {
		padding-top: 0

}
  }
@media (min-width: 960px) {
.primary-nav--pull-right {
			float: right

	}
  }
.primary-nav ul {
		margin: 0;
		padding: 0;
	}
.primary-nav ul::after {
    content: "";
    clear: both;
    display: table;
  }
.primary-nav li {
		list-style: none;
		padding-right: 10px;
		display: inline-block;
	}
@media (min-width: 960px) {
.primary-nav li {
			padding-right: 20px;
			float: left;
			display: block
	}
  }
.primary-nav li:last-child {
		padding-right: 0;
	}
@media (min-width: 960px) {
.primary-nav li:last-child {
			padding-right: 20px
	}
  }
.primary-nav a {
		color: #FFF;
		font-weight: 300;
		text-decoration: none;
		display: block;
		padding: 5px 8px;
		font-size: .8rem;
		background-color: rgba(128,0,0, .7);
		float: left;

	}
@media (min-width: 960px) {
.primary-nav a {
			font-size: 1rem;
			padding: 12px 0;
			background-color: transparent

	}

			.primary-nav a.is-current-link {
				color: #fabb69;
			}
  }
.page-banner {
	background-color: #a3a3a3;
	padding: 150px 0 40px 0;
	position: relative;
	color: #000;
}
@media (min-width: 530px) {
.page-banner {
		padding: 180px 0 130px 0;
		top: 0px
}
  }
.page-banner__text__container {
		    background-color: rgba(132,100,100, .4);
			color: #FFF;
    max-width: 750px;
    position: relative;
    z-index: 2;
    margin-top: 62px;
	}
.page-banner__sub-title {
		margin: 0 auto;
		margin-bottom: 25px;
		text-align: center;
		padding-left: 45px;
		padding-right: 45px;
	}
.page-banner__title {
		font-family: 'Georgia', serif;
		font-size: 1.3rem;
		font-weight: 100;
		margin: 0 0 1rem 0;
	}
@media (min-width: 530px) {
.page-banner__title {
			font-size: 3rem
	}
  }
.page-banner__bg-image {
		opacity: 1;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-bottom: solid;
    	border-color: #846464;
    	border-width: 5px;
	}
.page-banner__intro {
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.3;
	}
@media (min-width: 530px) {
.page-banner__intro {
			font-size: 1.65rem
	}
  }
.page-banner__intro p {
		margin: 0;
	}
.page-banner__intro--narrow-justified {
		margin: 0 auto;
		margin-bottom: 25px;
		text-align: justify;
		padding-left: 45px;
		padding-right: 45px;
	}
.site-footer {
	padding: 2rem 0 3.5rem 0;
	background-image: linear-gradient(#FFF, #ececec);
	color: #343434;

}
.site-footer p {
		font-size: .9rem;
	}
.site-footer .headline {
		font-size: 1.9rem;
		margin-bottom: 1.33rem;
		text-align: center;
	}
@media (min-width: 1010px) {
.site-footer .headline {
			text-align: left
	}
  }
.site-footer__link {
		color: #999;
		text-decoration: none;
	}
.site-footer__link:hover {
		color: #800000;
		text-decoration: underline;
	}
.site-footer__inner {
		border-top: 1px dotted #DEDEDE;
		padding-top: 3.5rem;
	}
.site-footer__content--justify {
		text-align: justify;
	}
.site-footer__content--narrow {
		text-align: center;
	}
@media (min-width: 1010px) {
.site-footer__content--narrow {
			padding: 15px 100px
	}
  }
.site-footer__col-two {
		text-align: center;
		border-top: 1px dotted #DEDEDE;
		padding-top: 3.5rem;
	}
@media (min-width: 1010px) {
.site-footer__col-two {
			border-top: 0;
			padding-top: 0
	}
  }
.btn {
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
	text-decoration: none;
	color: #FFF;
	font-size: 1.19rem;
	padding: 12px 24px;
	border: none;
	outline: none;
}
.btn--t-b-margin {
		margin-top: 10px;
		margin-bottom: 10px;
	}
.btn--b-margin {
		margin-bottom: 20px;
	}
.btn--success {
		background-color: green;
	}
.btn--warning {
		background-color: red;
	}
.btn--left {
		float: none;
	}
@media (min-width: 530px) {
.btn--left {
			float: left
	}
  }
@media (min-width: 530px) {
.btn--half-width {
			width: 47%

	}
  }
.btn--right {
		float: none;
	}
@media (min-width: 530px) {
.btn--right {
			float: right
	}
  }
.btn--centered {
		display: block;
		text-align: center;
	}
.btn--small {
		font-size: .88rem;
		padding: 7px 13px;
		font-weight: 300;
	}
.btn--small-text {
		font-size: 1rem;
	}
.btn--with-photo {
		padding-left: 40px;
		position: relative;
	}
.btn--orange {
		background-color: #EE964B;
	}
.btn--orange:hover {
		background: linear-gradient(#EE964B, rgb(235, 109, 0));
	}
.btn--dark-orange {
		background-color: #F95738;
	}
.btn--dark-orange:hover {
		background: linear-gradient(#F95738, rgb(204, 34, 0));
	}
.btn--maroon {
		background-color: #800000;
	}
.btn--greyMaroon {
		background-color: #846464;
	}
.btn--grey {
		background-color: #a3a3a3;
	}
.btn--maroon:hover {
		background: linear-gradient(rgb(168, 0, 0), #800000);
	}
.btn--yellow {
		background-color: #F4D35E;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .22);
	}
.btn--yellow:hover {
		background: linear-gradient(#F4D35E, rgb(240, 188, 0));
	}
.btn--beige {
		background-color: #FAF0CA;
		color: #173f58;
	}
.btn--beige:hover {
		background-color: #F4D35E;
	}
.btn--gray {
		background-color: #222;
	}
.btn--white {
		background-color: #FFF;
		color: #173f58;
	}
.btn--white:hover {
		background-color: #DDD;
	}
.btn--large {
		font-size: 1.3rem;
		padding: 16px 34px;
		border-radius: 7px;
	}
@media (min-width: 530px) {
.btn--large {
			font-size: 1.9rem
	}
  }
.btn--inactive {
		background-color: transparent;
		cursor: default;
		color: #333;
	}
.btn--footer {
		color: #5a5b5d;
		font-size: 1.3rem;
		padding: 14px 34px;
		border-radius: 7px;
	}
@media (min-width: 530px) {
.btn--footer {
			font-size: 1.9rem
	}
  }
.link-list li {
    padding: 1rem 0;
    font-size: 1.5rem;
    border-bottom: 1px dotted #DEDEDE;
  }
.search-overlay .link-list li {
      font-size: 1.3rem;
    }
.link-list li:last-child {
    border-bottom: none;
  }
.link-list a {
    color: #F95738;
  }
/* Do not edit modules/_sprite directly as it is generated automatically by Gulp.
Instead edit gulp/templates/sprite */
.icon-svg {
      background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.svg');
    }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--crowd {
    width: 152px;
    height: 152px;
    background-position: 0 100%;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--cvs-pharmacy {
    width: 252px;
    height: 152px;
    background-position: 44.44444444444444% 70.07874015748031%;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--good-knotz {
    width: 252px;
    height: 152px;
    background-position: 44.44444444444444% 40.15748031496063%;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--log-v2 {
    width: 315px;
    height: 102px;
    background-position: 0 0;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--logo {
    width: 315px;
    height: 102px;
    background-position: 0 18.27956989247312%;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--microphone {
    width: 152px;
    height: 152px;
    background-position: 85.00749625187406% 59.84251968503937%;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--pizza-house {
    width: 252px;
    height: 152px;
    background-position: 55.55555555555556% 0;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--potestas-pizza {
    width: 252px;
    height: 152px;
    background-position: 100% 0;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--speaker-mic {
    width: 77px;
    height: 77px;
    background-position: 96.90026954177898% 26.07204116638079%;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--sponsor {
    width: 152px;
    height: 152px;
    background-position: 85.00749625187406% 29.921259842519685%;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--top-nails {
    width: 252px;
    height: 152px;
    background-position: 0 70.07874015748031%;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--zogos {
    width: 252px;
    height: 152px;
    background-position: 0 40.15748031496063%;
  }
.icon {
     background-image: url('../../themes/life-lessons-speaker-theme/images/sprites/icons/icon-sprite-e7f6b54e.png');
  }
.icon--logo-mic {
    width: 50px;
    height: 65px;
    background-position: 0 0;
  }
.row::after {
    content: "";
    clear: both;
    display: table;
  }
.row--t-padding {
		padding-top: 80px;
	}
.row--b-padding {
		padding-bottom: 80px;
	}
.row--b-margin-large-list-view {

		margin-bottom: 35px;
	}
@media (min-width: 960px) {
		.row--gutters {
			margin-right: -65px;
		}

		.row--gutters>div {
			padding-right: 65px;
		}

		.row--gutters-large {
			margin-right: -100px;
		}

		.row--gutters-large>div {
			padding-right: 100px;
		}

		.row--gutters-small {
			margin-right: -45px;
		}

		.row--gutters-small>div {
			padding-right: 45px;
		}

		.row--gutters-extra-small {
			margin-right: -10px;
		}

		.row--gutters-extra-small>div {
			padding-right: 10px;
		}
  }
.row__b-margin-until-medium {
		margin-bottom: 1rem;
	}
@media (min-width: 960px) {

		.row__b-margin-until-medium {
			margin-bottom: 0;
		}

		.row__small-4 {
			float: left;
			width: 25%;
		}

		.row__medium-4 {
			float: left;
			width: 33.33%;
		}

		.row__medium-4--larger {
			width: 37%;
		}

		.row__medium-6 {
			float: left;
			width: 50%;
		}

		.row__medium-8 {
			float: left;
			width: 66.66%;
		}

		.row__medium-8--smaller {
			width: 63%;
		}
  }
@media (min-width: 1010px) {

		.row__b-margin-until-large {
			margin-bottom: 0;
		}

		.row__large-4 {
			float: left;
			width: 33.33%;
		}

		.row__large-4--larger {
			width: 37%;
		}

		.row__large-6 {
			float: left;
			width: 50%;
		}

		.row__large-6--center {
			margin: 0 auto;
			width: 50%;
		}

		.row__large-8 {
			float: left;
			width: 66.66%;
		}

		.row__large-8--smaller {
			width: 63%;
		}

		.row__fill {
			width: 100%;
		}
  }
/* Begin Equal Height Rules */
@media (min-width: 960px) {
.flexbox .row--equal-height-at-medium {
			display: flex;
			flex-wrap: wrap

	}
  }
.flexbox .row--equal-height-at-medium>div {
			float: none;
			display: flex;
		}
@media (min-width: 1010px) {
.flexbox .row--equal-height-at-large {
			display: flex;
			flex-wrap: wrap

	}
  }
.flexbox .row--equal-height-at-large>div {
			float: none;
			display: flex;
		}
.page-section {
	padding: 1.2rem 0;

}
@media (min-width: 960px) {
.page-section {
		padding: 18px 0

}
  }
.page-section--padding-t {
		padding-top: 70px;
	}
.page-section--no-b-padding-until-medium {
		padding-bottom: 0;
	}
@media (min-width: 960px) {
.page-section--no-b-padding-until-medium {
			padding-bottom: 4.5rem
	}
  }
.page-section--no-b-padding-until-large {
		padding-bottom: 0;
	}
@media (min-width: 1010px) {
.page-section--no-b-padding-until-large {
			padding-bottom: 4.5rem
	}
  }
.page-section--maroon {
		background-color: #800000;
		color: #FFF;
	}
.page-section--grey {
		background-color: #5a5b5d;
	}
.page-section--lightgrey {
		background-color: #a3a3a3;
		color: #FFF;
	}
.page-section--white {
		background-color: #FFF;
	}
@media (min-width: 1010px) {
.page-section--services {
			/* &.lazyloaded{
        background: url('../../assets/images/services-bg.jpg') top center no-repeat;
        background-size: cover;
      }*/
	}
  }
.page-section--speakers-remove-b-margin {
		margin-bottom: -98px;
	}
.page-section--about-us {
		background-color: #5a5b5d;
		color: #800000;
		font-weight: 700;
		font-size: 1.2rem;
	}
@media (min-width: 1010px) {
.page-section--about-us {
			font-size: 1.8rem
	}
  }
.page-section__no-post {
		margin: 0 auto;
		margin-top: -60px;
		padding-bottom: 82px;
	}
.section-title {
	font-size: 2.3rem;
	/*1.3*/
	font-weight: 100;
	text-align: center;
	color: #800000;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);

}
@media (min-width: 530px) {
.section-title {
		font-size: 3rem

}
  }
.section-title strong {
		font-weight: 700;
	}
.section-title--blue {
		color: #0D3B66;
	}
.section-title--grey {
		color: #5a5b5d;
	}
.section-title--less-margin {
		margin-bottom: 1.3rem;
		margin-top: 0;
	}
.section-title__icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .6rem;
	}
@media (min-width: 530px) {
.section-title__icon {
			position: relative;
			top: 8px;
			margin-right: .5rem;
			margin-left: 0;
			margin-bottom: 0;
			display: inline-block
	}
  }
.video__testimonial {
		padding: 13px;
	}
.video__testimonial__container>div{
			padding: 50px;
			margin: 0 auto;
		}
#video-root>div{
			padding:40px 13px;
			margin: 0 auto;
		}
.service {
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 0 25px 1px 25px;
	margin-bottom: 98px;
	width: 100%;
	border: 6px solid #a3a3a3;

}
@media (min-width: 1010px) {
.service {
		margin-bottom: 0;
		padding: 0 1.8125rem 1px 1.8125rem

}
  }
.service--last {
		margin-bottom: 0;
	}
.service__photo {
		background-color: #FFF;
		border: 6px solid #a3a3a3;
		border-radius: 90px;
		overflow: hidden;
		width: 150px;
		height: 150px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;


	}
.service__photo--maroon {
		background-color: #800000;
	}
.service__icons {}
.service__title {
		color: #800000;
		text-align: center;
		font-size: 1.8rem;
		margin: .25rem 0 1rem 0;
	}
.testimonial {
	background-color: #ececec;
	padding: 0 25px 1px 25px;
	margin-bottom: 50px;
	width: 100%;
	color: #800000;


}
@media (min-width: 1010px) {
.testimonial {
		padding: 1.8125rem 1.8125rem 1px 1.8125rem


}
  }
.testimonial--last {
		margin-bottom: 0;
	}
.testimonial__photo {
		background-color: #FFF;
		border: 6px solid #a3a3a3;
		border-radius: 90px;
		overflow: hidden;
		width: 150px;
		height: 150px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;

	}
.testimonial__photo--maroon {
		background-color: #800000;
	}
.testimonial__icons {}
.testimonial__title {
		color: #FFF;
		text-align: center;
		font-size: 1.8rem;
		margin: .25rem 0 1rem 0;
	}
.testimonial__stars {
		font-size: 3.5rem;
		text-align: center;
		color: orange;
	}
.testimonial>p {
		font-style: italic;
		font-size: 1.1rem;
	}
.testimonial__reviewer-container {
		padding: 25px 0;
	}
.testimonial__name {
		font-weight: 700;
		margin-top: 15px;
	}
.testimonial__location {
		font-weight: 400;
	}
.testimonial__video {
		padding: 20px;
	}
.testimonial__video>iframe {
			margin: 0 auto;
			display: block;
		}
.sponsor {
	background-color: #FFF;
	width: 100%;

}
@media (min-width: 1010px) {
.sponsor {
		margin-bottom: 0;
		padding: 0 1.8125rem 1px 1.8125rem

}
  }
.sponsor--last {
		margin-bottom: 0;
	}
.sponsor__image {
		position: relative;
		top: 0;
		left: 50%;
		-webkit-transform: translateX(-50%) scale(.8);
		        transform: translateX(-50%) scale(.8);
		transition: -webkit-transform .3s ease-out;
		transition: transform .3s ease-out;
		transition: transform .3s ease-out, -webkit-transform .3s ease-out;
		-webkit-transform-origin: 50% 0;
		        transform-origin: 50% 0;
		padding: 10px 10px;
		width: 280px;
		height: 170px;
	}
.sponsor__title {
		color: #800000;
		text-align: center;
		font-size: 1.8rem;
		margin: .25rem 0 1rem 0;
	}
.event {
	position: relative;
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 18px 18px 1px 18px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 15px;
	border: 6px solid #846464;
	text-align: center;
	color: #800000;
}
@media (min-width: 960px) {
.event {
		margin-bottom: 98px
}
  }
.event__excerpt {
		text-align: left;
		padding-bottom: 5.65em;

	}
@media (min-width: 530px) {
.event__excerpt {
			padding-bottom: 3.65em

	}
  }
@media (min-width: 1010px) {
.event {
		padding: 1.8125rem
}
  }
.event--last {
		margin-bottom: 0;
	}
.event__btn {
		padding: 12px 8px;
	}
.event__btn-view-event {
		width: 100%;
	}
@media (min-width: 530px) {
.event__btn-view-event {
			float: left;
			width: 49%
	}
  }
.event__btn-view-speaker {
		width: 100%;
	}
@media (min-width: 530px) {
.event__btn-view-speaker {
			float: right;
			width: 49%
	}
  }
.event__wrapper-upper {
		padding: 10px;
	}
.event__wrapper-lower {
		padding: 25px;
		position: absolute;
		bottom: 0px;
		width: 100%;
		left: 50%;
		-webkit-transform: translateX(-50%) scale(1.02);
		        transform: translateX(-50%) scale(1.02);
	}
.event__support-us {
		text-align: center;
	}
.event-detail {
	width: 100%;
}
.event-detail__speakers {
		width: 100%;
	}
.event-detail__video-container {
		margin-top: 55px;
	}
.speaker {

	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 0 25px 1px 25px;
	margin-bottom: 98px;
	width: 100%;
	border-radius: 15px 35px 15px 35px;
	border: 6px solid #846464;
	text-align: center;

	/*&__icon {
		background-color: #FFF;
		border: 6px solid $lightGrey;
		border-radius: 90px;
		overflow: hidden;
		width: 150px;
		height: 150px;
		margin: 0 auto -80px auto;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		.icon{
			left: 50%;
		transform: translateX(-5%);
		}
	}*/

	/*&__wrapper-lower{
		padding: 0 10px;
		text-align:center;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 50%;
		background-color: $lightGrey;
		left: 50%;
		transform: translateX(-50%) scale(1.02);
	}*/

}
@media (min-width: 1010px) {
.speaker {

		padding: 0 1.8125rem 1px 1.8125rem

}
  }
.speaker--last {
		margin-bottom: 0;
	}
.speaker__photo {
		background-color: #FFF;
		border: 6px solid #846464;
		border-radius: 90px;
		overflow: hidden;
		width: 150px;
		height: 150px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;
	}
.speaker__list-view {
		margin: 10px;
	}
.speaker__list-view--hidden {
		display: none;
	}
.speaker__quote__list-view {
		padding: 10px;
		width: 100%;
		margin: 0;

	}
@media (min-width: 960px) {
.speaker__quote__list-view {
			padding-left: 110px

	}
  }
.speaker__list-view-wrapper-left {
		float: left;
		width: 100%;
		padding: 10px;
	}
@media (min-width: 960px) {
.speaker__list-view-wrapper-left {
			float: left;
			width: 30%
	}
  }
.speaker__list-view-wrapper-right {
		width: 100%;
		padding: 10px;
		top: 6%;


	}
.speaker__list-view-wrapper-right>p {
			margin-bottom: -3px;
		}
.speaker__list-view-wrapper-right>hr {
			width: 100%;

		}
@media (min-width: 960px) {
.speaker__list-view-wrapper-right>hr {
				width: 99%;
				float: right

		}
  }
.speaker__photo__list-view {
		background-color: #FFF;
		border: 6px solid #846464;
		border-radius: 90px;
		width: 110px;
		height: 110px;
		min-width: 110px;

	}
.speaker__title {
		text-align: center;

	}
.speaker__title--grey {
		color: #343434;
	}
.speaker__title--grey-maroon {
		color: #846464;
	}
.speaker__btn-view-all-wrapper {
		text-align: center;
		margin-top: -45px;
	}
.speaker__list-item {
		padding-bottom: 15px;
	}
.story {
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 0 25px 1px 25px;
	width: 100%;
	border-radius: 15px 35px 15px 35px;
	border: 6px solid #846464;
	text-align: center;
}
.story__content {
		padding: 10px;
	}
.story__title {
		color: #846464;
	}
.story__search-fields {
		text-align: center;
		padding: 25px;
	}
.story--margin-b {
		margin-bottom: 25px;
	}
.story--margin-t {
		margin-top: 25px;
	}
.story__search-fields__categories-dropdown {
		font-size: 1.5rem;
		padding: 5px;
	}
.story__search-fields__textbox {
		font-size: 1.5rem;
		padding: 5px;
		padding-right: 50px;
		text-overflow: ellipsis;
		text-overflow: ellipsis;

	}
@media (min-width: 1010px) {
.story__search-fields__textbox {
			width: 65%

	}
  }
.story__similar-stories-headline {
		margin-top: 35px;
	}
@media (min-width: 960px) {
.story__similar-stories-headline {
			margin-top: 0
	}
  }
.story__similar-stories-none {
		text-align: center;
	}
.story__icon {
		background-color: #FFF;
		border: 3px solid #846464;
		border-radius: 90px;
		overflow: hidden;
		width: 75px;
		height: 75px;
		margin: 9px auto;
	}
.story__icon>.icon {
			margin-left: 3%;
		}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.spinner-placeholder {
	position: relative;
	left: 50%;
	top: -35px;
}
.spinner-loader {
	position: absolute;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	border: 0.25rem solid rgba(0, 0, 0, 0.2);
	border-top-color: black;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}
.donation {
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 0 25px 1px 25px;
	margin-bottom: 98px;
	width: 100%;
	border-radius: 15px 35px 15px 35px;
	border: 6px solid #846464;
	text-align: center;
}
.donation__content {
		text-align: left;
	}
.donation__title {
		text-align: center;
	}
.donation__sub-title {
		text-align: center;
	}
.donation__button-image-smaller {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
@media (min-width: 960px) {
.donation__button-image-smaller {
			width: 45%
	}
  }
.donation__button__image {
		width: 100%;
		margin: 0 atuo;
	}
@media (min-width: 960px) {
.donation__monthly-left {
			float: left

	}
  }
@media (min-width: 960px) {
.donation__monthly-right {
			float: right
	}
  }
.about-us {
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 0 25px 1px 25px;
	width: 100%;
	border-radius: 15px 35px 15px 35px;
	border: 6px solid #846464;
}
.about-us__content {
		padding: 10px;
		font-size: 1.1rem;
	}
.about-us__side-bar-content {
		padding: 10px;
		font-size: 1.1rem;
	}
.about-us__feature-image {
		witdh: 100%;
		text-align: center;
		padding: 30px;
	}
.about-us__title {
		color: #846464;
	}
.about-us__search-fields {
		text-align: center;
		padding: 25px;
	}
.about-us--margin-b {
		margin-bottom: 25px;
	}
.about-us--margin-t {
		margin-top: 25px;
	}
.about-us__side-bar-headline {
		margin-top: 35px;
	}
@media (min-width: 960px) {
.about-us__side-bar-headline {
			margin-top: 0
	}
  }
.about-us__side-bar-no-content-message {
		text-align: center;
	}
.about-us__icon {
		background-color: #FFF;
		border: 3px solid #846464;
		border-radius: 90px;
		overflow: hidden;
		width: 75px;
		height: 75px;
		margin: 9px auto;
	}
.about-us__icon>.icon {
			margin-left: 3%;
		}
.form {
	width: 100%;
	text-align: center;

}
.form__contact {
		background: #F7F7F7;
		padding: 30px;
		margin: 35px auto;
		max-width: 550px;
		margin: 10px auto 10px auto;
		border-radius: 15px;
		border: 6px solid #846464;
	}
.form h1 {
		background: #43D1AF;
		padding: 20px 0;
		font-size: 140%;
		font-weight: 300;
		text-align: center;
		color: #fff;
		margin: -16px -16px 16px -16px;
	}
.form input[type="text"],
	.form input[type="date"],
	.form input[type="datetime"],
	.form input[type="email"],
	.form input[type="number"],
	.form input[type="search"],
	.form input[type="time"],
	.form input[type="url"],
	.form textarea,
	.form select {
		transition: all 0.30s ease-in-out;
		outline: none;
		width: 100%;
		background: #fff;
		margin-bottom: 4%;
		border: 1px solid #ccc;
		padding: 3%;
		color: #555;
		font: 95% Arial, Helvetica, sans-serif;
	}
.form__footer-email {
		width: 100%;
		max-width: 325px;
		height: 60px;
	}
.form input[type="text"]:focus,
	.form input[type="date"]:focus,
	.form input[type="datetime"]:focus,
	.form input[type="email"]:focus,
	.form input[type="number"]:focus,
	.form input[type="search"]:focus,
	.form input[type="time"]:focus,
	.form input[type="url"]:focus,
	.form textarea:focus,
	.form select:focus {
		box-shadow: 0 0 5px #846464;
		padding: 3%;
		border: 1px solid #846464;
	}
.form label {
		color: #846464;
		font-weight: 700;
	}
.form input[type="submit"]:hover,
	.form input[type="button"]:hover {
		background: #846464;
	}
.form__message {
		max-width: 100%;
	}
.form__submit__contact {
		box-sizing: border-box;
		width: 100%;
		padding: 3%;
		border-top-style: none;
		border-right-style: none;
		border-left-style: none;
	}
.form--submit--clicked {
		background: #846464 !important;
	}
.form--submit--clicked--success {
		background: #477c41 !important;
	}
..divider--large{
      border-width: 2px;
}
..divider--dotted {
    border-top: dotted 1px;
    margin-top: 20px;
    width: 80%;
}
.divider--greyMaroon{
	border-color: #8464647a;
}
.wp-admin .column-order {width:5%;}
