.about-us {
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 0 25px 1px 25px;
	width: 100%;
	border-radius: 15px 35px 15px 35px;
	border: 6px solid $greyMaroon;

	&__content {
		padding: 10px;
		font-size: 1.1rem;
	}

	&__side-bar-content {
		padding: 10px;
		font-size: 1.1rem;
	}

	&__feature-image {
		witdh: 100%;
		text-align: center;
		padding: 30px;
	}

	&__title {
		color: $greyMaroon;
	}

	&__search-fields {
		text-align: center;
		padding: 25px;
	}

	&--margin-b {
		margin-bottom: 25px;
	}

	&--margin-t {
		margin-top: 25px;
	}

	&__side-bar-headline {
		margin-top: 35px;

		@mixin atMedium {
			margin-top: 0;
		}
	}

	&__side-bar-no-content-message {
		text-align: center;
	}

	&__icon {
		background-color: #FFF;
		border: 3px solid $greyMaroon;
		border-radius: 90px;
		overflow: hidden;
		width: 75px;
		height: 75px;
		margin: 9px auto;

		&>.icon {
			margin-left: 3%;
		}
	}
}
