.btn {
	display: inline-block;
	cursor: pointer;
	border-radius: 4px;
	overflow: hidden;
	text-decoration: none;
	color: #FFF;
	font-size: 1.19rem;
	padding: 12px 24px;
	border: none;
	outline: none;

	&--t-b-margin {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	&--b-margin {
		margin-bottom: 20px;
	}

	&--success {
		background-color: green;
	}

	&--warning {
		background-color: red;
	}

	&--left {
		float: none;

		@mixin atSmall {
			float: left;
		}
	}

	&--half-width {

		@mixin atSmall {
			width: 47%;
		}

	}

	&--right {
		float: none;

		@mixin atSmall {
			float: right;
		}
	}

	&--centered {
		display: block;
		text-align: center;
	}

	&--small {
		font-size: .88rem;
		padding: 7px 13px;
		font-weight: 300;
	}

	&--small-text {
		font-size: 1rem;
	}

	&--with-photo {
		padding-left: 40px;
		position: relative;
	}

	&--orange {
		background-color: $lightOrange;
	}

	&--orange:hover {
		background: linear-gradient($lightOrange, color($lightOrange b(+30%) s(+80%)));
	}

	&--dark-orange {
		background-color: $darkOrange;
	}

	&--dark-orange:hover {
		background: linear-gradient($darkOrange, color($darkOrange b(+40%) s(+80%)));
	}

	&--maroon {
		background-color: $mainMaroon;
	}

	&--greyMaroon {
		background-color: $greyMaroon;
	}

	&--grey {
		background-color: $lightGrey;
	}

	&--maroon:hover {
		background: linear-gradient(color($mainMaroon b(-16%)), $mainMaroon);
	}

	&--yellow {
		background-color: $mainYellow;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .22);
	}

	&--yellow:hover {
		background: linear-gradient($mainYellow, color($mainYellow b(+40%) s(+80%)));
	}

	&--beige {
		background-color: $beige;
		color: #173f58;
	}

	&--beige:hover {
		background-color: $mainYellow;
	}

	&--gray {
		background-color: #222;
	}

	&--white {
		background-color: #FFF;
		color: #173f58;
	}

	&--white:hover {
		background-color: #DDD;
	}

	&--large {
		font-size: 1.3rem;
		padding: 16px 34px;
		border-radius: 7px;

		@mixin atSmall {
			font-size: 1.9rem;
		}
	}

	&--inactive {
		background-color: transparent;
		cursor: default;
		color: #333;
	}

	&--footer {
		color: $mainGrey;
		font-size: 1.3rem;
		padding: 14px 34px;
		border-radius: 7px;

		@mixin atSmall {
			font-size: 1.9rem;
		}
	}
}
