.donation {
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 0 25px 1px 25px;
	margin-bottom: 98px;
	width: 100%;
	border-radius: 15px 35px 15px 35px;
	border: 6px solid $greyMaroon;
	text-align: center;

	&__content {
		text-align: left;
	}

	&__title {
		text-align: center;
	}

	&__sub-title {
		text-align: center;
	}

	&__button-image-smaller {
		width: 100%;
		margin-top: 20px;
		margin-bottom: 20px;

		@mixin atMedium {
			width: 45%;

		}
	}


	&__button__image {
		width: 100%;
		margin: 0 atuo;
	}

	&__monthly-left {
		@mixin atMedium {
			float: left;
		}

	}

	&__monthly-right {
		@mixin atMedium {
			float: right;
		}
	}
}
