.event {
	position: relative;
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 18px 18px 1px 18px;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 15px;
	border: 6px solid $greyMaroon;
	text-align: center;
	color: $mainMaroon;

	@mixin atMedium {
		margin-bottom: 98px;
	}

	&__excerpt {
		text-align: left;
		padding-bottom: 5.65em;

		@mixin atSmall {
			padding-bottom: 3.65em;
		}

	}

	@mixin atLarge {
		padding: 1.8125rem;
	}

	&--last {
		margin-bottom: 0;
	}

	&__btn {
		padding: 12px 8px;
	}

	&__btn-view-event {
		width: 100%;

		@mixin atSmall {
			float: left;
			width: 49%;
		}
	}

	&__btn-view-speaker {
		width: 100%;

		@mixin atSmall {
			float: right;
			width: 49%;
		}
	}

	&__wrapper-upper {
		padding: 10px;
	}

	&__wrapper-lower {
		padding: 25px;
		position: absolute;
		bottom: 0px;
		width: 100%;
		left: 50%;
		transform: translateX(-50%) scale(1.02);
	}

	&__support-us {
		text-align: center;
	}
}
