.form {
	width: 100%;
	text-align: center;

	&__contact {
		background: #F7F7F7;
		padding: 30px;
		margin: 35px auto;
		max-width: 550px;
		margin: 10px auto 10px auto;
		border-radius: 15px;
		border: 6px solid $greyMaroon;
	}

	& h1 {
		background: #43D1AF;
		padding: 20px 0;
		font-size: 140%;
		font-weight: 300;
		text-align: center;
		color: #fff;
		margin: -16px -16px 16px -16px;
	}

	& input[type="text"],
	& input[type="date"],
	& input[type="datetime"],
	& input[type="email"],
	& input[type="number"],
	& input[type="search"],
	& input[type="time"],
	& input[type="url"],
	& textarea,
	& select {
		transition: all 0.30s ease-in-out;
		outline: none;
		width: 100%;
		background: #fff;
		margin-bottom: 4%;
		border: 1px solid #ccc;
		padding: 3%;
		color: #555;
		font: 95% Arial, Helvetica, sans-serif;
	}

	&__footer-email {
		width: 100%;
		max-width: 325px;
		height: 60px;
	}

	& input[type="text"]:focus,
	& input[type="date"]:focus,
	& input[type="datetime"]:focus,
	& input[type="email"]:focus,
	& input[type="number"]:focus,
	& input[type="search"]:focus,
	& input[type="time"]:focus,
	& input[type="url"]:focus,
	& textarea:focus,
	& select:focus {
		box-shadow: 0 0 5px $greyMaroon;
		padding: 3%;
		border: 1px solid $greyMaroon;
	}

	& label {
		color: $greyMaroon;
		font-weight: 700;
	}

	& input[type="submit"]:hover,
	& input[type="button"]:hover {
		background: $greyMaroon;
	}

	&__message {
		max-width: 100%;
	}

	&__submit__contact {
		box-sizing: border-box;
		width: 100%;
		padding: 3%;
		border-top-style: none;
		border-right-style: none;
		border-left-style: none;
	}


	&--submit--clicked {
		background: $greyMaroon !important;
	}

	&--submit--clicked--success {
		background: #477c41 !important;
	}

}
