.headline {
	font-family: 'Georgia', serif;
	font-size: 2.3rem;
	font-weight: 100;
	margin: 0 0 1rem 0;


	@mixin atSmall {
		font-size: 2rem;
	}

	&--maroon {
		color: $mainMaroon;
	}

	&--padding-t {
		padding-top: 25px;
	}

	&--padding {
		padding-top: 25px;
		padding-bottom: 15px;
	}

	&--centered {
		text-align: center;
	}

	&--small {
		font-size: 1.2rem;

		@mixin atSmall {
			font-size: 1.875rem;
		}
	}

	&--small-general-content {
		font-size: 1.2rem;

		@mixin atSmall {
			font-size: 1.575rem;
		}
	}

	&--narrow {
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

	&--light {
		font-weight: 100;
	}

	strong {
		font-weight: 400;
	}

	&--b-margin-small {
		margin-bottom: .5em;
	}

	&--b-margin-large {
		margin-bottom: 1.6em;
	}

	&--no-t-margin {
		margin-top: 0;
	}

	&--margin-t {
		margin-top: 35px;

		@mixin atSmall {
			margin-top: 0;
		}
	}
}
