.page-banner {
	background-color: $lightGrey;
	padding: 150px 0 40px 0;
	position: relative;
	color: #000;

	@mixin atSmall {
		padding: 180px 0 130px 0;
		top: 0px;
	}

	&__text__container {
		    background-color: rgba($greyMaroon, .4);
			color: #FFF;
    max-width: 750px;
    position: relative;
    z-index: 2;
    margin-top: 62px;
	}

	&__sub-title {
		margin: 0 auto;
		margin-bottom: 25px;
		text-align: center;
		padding-left: 45px;
		padding-right: 45px;
	}

	&__title {
		font-family: 'Georgia', serif;
		font-size: 1.3rem;
		font-weight: 100;
		margin: 0 0 1rem 0;


		@mixin atSmall {
			font-size: 3rem;
		}
	}

	&__bg-image {
		opacity: 1;
		background-size: cover;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-bottom: solid;
    	border-color: $greyMaroon;
    	border-width: 5px;
	}

	&__intro {
		font-weight: 300;
		font-size: 1.2rem;
		line-height: 1.3;

		@mixin atSmall {
			font-size: 1.65rem;
		}
	}


	&__intro p {
		margin: 0;
	}

	&__intro--narrow-justified {
		margin: 0 auto;
		margin-bottom: 25px;
		text-align: justify;
		padding-left: 45px;
		padding-right: 45px;
	}
}
