.primary-nav {
	/*padding-top: 10px;*/

	@mixin atMedium {
		padding-top: 0;
	}

	&--pull-right {
		@mixin atMedium {
			float: right;
		}

	}

	ul {
		margin: 0;
		padding: 0;
		@mixin clearfix;
	}

	li {
		list-style: none;
		padding-right: 10px;
		display: inline-block;

		@mixin atMedium {
			padding-right: 20px;
			float: left;
			display: block;
		}
	}

	li:last-child {
		padding-right: 0;

		@mixin atMedium {
			padding-right: 20px;
		}
	}

	a {
		color: #FFF;
		font-weight: 300;
		text-decoration: none;
		display: block;
		padding: 5px 8px;
		font-size: .8rem;
		background-color: rgba($mainMaroon, .7);
		float: left;
		@mixin atMedium {
			font-size: 1rem;
			padding: 12px 0;
			background-color: transparent;

			&.is-current-link {
				color: #fabb69;
			}
		}

	}

}
