.section-title {
	font-size: 2.3rem;
	/*1.3*/
	font-weight: 100;
	text-align: center;
	color: $mainMaroon;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);

	@mixin atSmall {
		font-size: 3rem;
	}

	strong {
		font-weight: 700;
	}

	&--blue {
		color: $mainBlue;
	}

	&--grey {
		color: $mainGrey;
	}

	&--less-margin {
		margin-bottom: 1.3rem;
		margin-top: 0;
	}

	&__icon {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: .6rem;

		@mixin atSmall {
			position: relative;
			top: 8px;
			margin-right: .5rem;
			margin-left: 0;
			margin-bottom: 0;
			display: inline-block;
		}
	}

}
