.service {
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 0 25px 1px 25px;
	margin-bottom: 98px;
	width: 100%;
	border: 6px solid $lightGrey;

	@mixin atLarge {
		margin-bottom: 0;
		padding: 0 1.8125rem 1px 1.8125rem;
	}

	&--last {
		margin-bottom: 0;
	}

	&__photo {
		background-color: #FFF;
		border: 6px solid $lightGrey;
		border-radius: 90px;
		overflow: hidden;
		width: 150px;
		height: 150px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;


	}

	&__photo--maroon {
		background-color: $mainMaroon;
	}

	&__icons {}

	&__title {
		color: $mainMaroon;
		text-align: center;
		font-size: 1.8rem;
		margin: .25rem 0 1rem 0;
	}

}
