.speaker {

	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 0 25px 1px 25px;
	margin-bottom: 98px;
	width: 100%;
	border-radius: 15px 35px 15px 35px;
	border: 6px solid $greyMaroon;
	text-align: center;



	@mixin atLarge {

		padding: 0 1.8125rem 1px 1.8125rem;
	}

	&--last {
		margin-bottom: 0;
	}

	&__photo {
		background-color: #FFF;
		border: 6px solid $greyMaroon;
		border-radius: 90px;
		overflow: hidden;
		width: 150px;
		height: 150px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;
	}

	&__list-view {
		margin: 10px;
	}

	&__list-view--hidden {
		display: none;
	}

	&__quote__list-view {
		padding: 10px;
		width: 100%;
		margin: 0;

		@mixin atMedium {
			padding-left: 110px;
		}

	}

	&__list-view-wrapper-left {
		float: left;
		width: 100%;
		padding: 10px;

		@mixin atMedium {
			float: left;
			width: 30%;
		}
	}

	&__list-view-wrapper-right {
		width: 100%;
		padding: 10px;
		top: 6%;

		&>p {
			margin-bottom: -3px;
		}

		&>hr {
			width: 100%;

			@mixin atMedium {
				width: 99%;
				float: right;
			}

		}


	}


	&__photo__list-view {
		background-color: #FFF;
		border: 6px solid $greyMaroon;
		border-radius: 90px;
		width: 110px;
		height: 110px;
		min-width: 110px;

	}

	&__title {
		text-align: center;

	}

	&__title--grey {
		color: $darkGrey;
	}

	&__title--grey-maroon {
		color: $greyMaroon;
	}

	&__btn-view-all-wrapper {
		text-align: center;
		margin-top: -45px;
	}

	&__list-item {
		padding-bottom: 15px;
	}

	/*&__icon {
		background-color: #FFF;
		border: 6px solid $lightGrey;
		border-radius: 90px;
		overflow: hidden;
		width: 150px;
		height: 150px;
		margin: 0 auto -80px auto;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		.icon{
			left: 50%;
		transform: translateX(-5%);
		}
	}*/

	/*&__wrapper-lower{
		padding: 0 10px;
		text-align:center;
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 50%;
		background-color: $lightGrey;
		left: 50%;
		transform: translateX(-50%) scale(1.02);
	}*/

}
