.sponsor {
	background-color: #FFF;
	width: 100%;


	@mixin atLarge {
		margin-bottom: 0;
		padding: 0 1.8125rem 1px 1.8125rem;
	}

	&--last {
		margin-bottom: 0;
	}

	&__image {
		position: relative;
		top: 0;
		left: 50%;
		transform: translateX(-50%) scale(.8);
		transition: transform .3s ease-out;
		transform-origin: 50% 0;
		padding: 10px 10px;
		width: 280px;
		height: 170px;
	}

	&__title {
		color: $mainMaroon;
		text-align: center;
		font-size: 1.8rem;
		margin: .25rem 0 1rem 0;
	}

}
