.story {
	background-color: #FFF;
	/*background-color: rgba(255, 255, 255, .8);*/
	padding: 0 25px 1px 25px;
	width: 100%;
	border-radius: 15px 35px 15px 35px;
	border: 6px solid $greyMaroon;
	text-align: center;

	&__content {
		padding: 10px;
	}

	&__title {
		color: $greyMaroon;
	}

	&__search-fields {
		text-align: center;
		padding: 25px;
	}

	&--margin-b {
		margin-bottom: 25px;
	}

	&--margin-t {
		margin-top: 25px;
	}

	&__search-fields__categories-dropdown {
		font-size: 1.5rem;
		padding: 5px;
	}

	&__search-fields__textbox {
		font-size: 1.5rem;
		padding: 5px;
		padding-right: 50px;
		text-overflow: ellipsis;
		text-overflow: ellipsis;

		@mixin atLarge {
			width: 65%;
		}

	}

	&__similar-stories-headline {
		margin-top: 35px;

		@mixin atMedium {
			margin-top: 0;
		}
	}


	&__similar-stories-none {
		text-align: center;
	}

	&__icon {
		background-color: #FFF;
		border: 3px solid $greyMaroon;
		border-radius: 90px;
		overflow: hidden;
		width: 75px;
		height: 75px;
		margin: 9px auto;

		&>.icon {
			margin-left: 3%;
		}
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.spinner-placeholder {
	position: relative;
	left: 50%;
	top: -35px;
}

.spinner-loader {
	position: absolute;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	border: 0.25rem solid rgba(0, 0, 0, 0.2);
	border-top-color: black;
	-webkit-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}
