.testimonial {
	background-color: $extraLightGrey;
	padding: 0 25px 1px 25px;
	margin-bottom: 50px;
	width: 100%;
	color: $mainMaroon;


	@mixin atLarge {
		padding: 1.8125rem 1.8125rem 1px 1.8125rem;
	}

	&--last {
		margin-bottom: 0;
	}

	&__photo {
		background-color: #FFF;
		border: 6px solid $lightGrey;
		border-radius: 90px;
		overflow: hidden;
		width: 150px;
		height: 150px;
		margin: 0 auto -80px auto;
		position: relative;
		top: -80px;

	}

	&__photo--maroon {
		background-color: $mainMaroon;
	}

	&__icons {}

	&__title {
		color: #FFF;
		text-align: center;
		font-size: 1.8rem;
		margin: .25rem 0 1rem 0;
	}

	&__stars {
		font-size: 3.5rem;
		text-align: center;
		color: orange;
	}

	&>p {
		font-style: italic;
		font-size: 1.1rem;
	}

	&__reviewer-container {
		padding: 25px 0;
	}

	&__name {
		font-weight: 700;
		margin-top: 15px;
	}

	&__location {
		font-weight: 400;
	}

	&__video {
		padding: 20px;
		&>iframe {
			margin: 0 auto;
			display: block;
		}
	}


}
