.video {
	&__testimonial {
		padding: 13px;
	}

	&__testimonial__container {
		&>div{
			padding: 50px;
			margin: 0 auto;
		}

}
}
#video-root{
	&>div{
			padding:40px 13px;
			margin: 0 auto;
		}
}
