@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atSmallMedium {
  @media (min-width: 767px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 960px) {
    @mixin-content;
  }
}

body {
  color: #000;
  background-color: $extraLightGrey;
  font-family: 'Georgia', serif;
  overflow-x: hidden;
  position: relative;
}

  * {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $mainMaroon;
}

a:hover {
  text-decoration: none;
}

p, ul, ol {
  margin: 0 0 1.65em 0;
}

p, li {
  line-height: 1.65;
}

.min-list {
  text-decoration: none;
}
